################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PeaceOfMind.BusinessLogic/obj/project.assets.json
/PeaceOfMind.BusinessLogic/obj/PeaceOfMind.Service.csproj.nuget.g.targets
/PeaceOfMind.BusinessLogic/obj/PeaceOfMind.Service.csproj.nuget.g.props
/PeaceOfMind.BusinessLogic/obj/PeaceOfMind.Service.csproj.nuget.dgspec.json
/PeaceOfMind.BusinessLogic/obj/PeaceOfMind.Service.csproj.nuget.cache
/PeaceOfMind.BusinessLogic/obj/PeaceOfMind.BusinessLogic.csproj.nuget.g.targets
/PeaceOfMind.BusinessLogic/obj/PeaceOfMind.BusinessLogic.csproj.nuget.g.props
/PeaceOfMind.BusinessLogic/obj/PeaceOfMind.BusinessLogic.csproj.nuget.dgspec.json
/PeaceOfMind.BusinessLogic/obj/PeaceOfMind.BusinessLogic.csproj.nuget.cache
/PeaceOfMind.BusinessLogic/obj/Debug/netstandard2.0/PeaceOfMind.Service.pdb
/PeaceOfMind.BusinessLogic/obj/Debug/netstandard2.0/PeaceOfMind.Service.dll
/PeaceOfMind.BusinessLogic/obj/Debug/netstandard2.0/PeaceOfMind.Service.csprojAssemblyReference.cache
/PeaceOfMind.BusinessLogic/obj/Debug/netstandard2.0/PeaceOfMind.Service.csproj.FileListAbsolute.txt
/PeaceOfMind.BusinessLogic/obj/Debug/netstandard2.0/PeaceOfMind.Service.csproj.CoreCompileInputs.cache
/PeaceOfMind.BusinessLogic/obj/Debug/netstandard2.0/PeaceOfMind.Service.csproj.CopyComplete
/PeaceOfMind.BusinessLogic/obj/Debug/netstandard2.0/PeaceOfMind.Service.assets.cache
/PeaceOfMind.BusinessLogic/obj/Debug/netstandard2.0/PeaceOfMind.Service.AssemblyInfoInputs.cache
/PeaceOfMind.BusinessLogic/obj/Debug/netstandard2.0/PeaceOfMind.Service.AssemblyInfo.cs
/PeaceOfMind.BusinessLogic/obj/Debug/netstandard2.0/PeaceOfMind.BusinessLogic.csprojAssemblyReference.cache
/PeaceOfMind.BusinessLogic/obj/Debug/netstandard2.0/PeaceOfMind.BusinessLogic.csproj.CoreCompileInputs.cache
/PeaceOfMind.BusinessLogic/obj/Debug/netstandard2.0/PeaceOfMind.BusinessLogic.assets.cache
/PeaceOfMind.BusinessLogic/obj/Debug/netstandard2.0/PeaceOfMind.BusinessLogic.AssemblyInfoInputs.cache
/PeaceOfMind.BusinessLogic/obj/Debug/netstandard2.0/PeaceOfMind.BusinessLogic.AssemblyInfo.cs
/PeaceOfMind.BusinessLogic/obj/Debug/netstandard2.0
/PeaceOfMind.BusinessLogic/obj
/PeaceOfMind.BusinessLogic/bin/Debug/netstandard2.0/PeaceOfMind.Service.pdb
/PeaceOfMind.BusinessLogic/bin/Debug/netstandard2.0/PeaceOfMind.Service.dll
/PeaceOfMind.BusinessLogic/bin/Debug/netstandard2.0/PeaceOfMind.Service.deps.json
/PeaceOfMind.BusinessLogic/bin/Debug/netstandard2.0/DataMovement.pdb
/PeaceOfMind.BusinessLogic/bin/Debug/netstandard2.0/DataMovement.dll
/PeaceOfMind.BusinessLogic/bin/Debug/netstandard2.0
/PeaceOfMind.BusinessLogic
/PeaceOfMind.API/PeaceOfMind.API.csproj.user
/PeaceOfMind.API/obj/project.assets.json
/PeaceOfMind.API/obj/PeaceOfMind.API.csproj.nuget.g.targets
/PeaceOfMind.API/obj/PeaceOfMind.API.csproj.nuget.g.props
/PeaceOfMind.API/obj/PeaceOfMind.API.csproj.nuget.dgspec.json
/PeaceOfMind.API/obj/PeaceOfMind.API.csproj.nuget.cache
/PeaceOfMind.API/obj/Debug/netcoreapp2.2/PeaceOfMind.API.RazorTargetAssemblyInfo.cache
/PeaceOfMind.API/obj/Debug/netcoreapp2.2/PeaceOfMind.API.RazorAssemblyInfo.cs
/PeaceOfMind.API/obj/Debug/netcoreapp2.2/PeaceOfMind.API.RazorAssemblyInfo.cache
/PeaceOfMind.API/obj/Debug/netcoreapp2.2/PeaceOfMind.API.pdb
/PeaceOfMind.API/obj/Debug/netcoreapp2.2/PeaceOfMind.API.dll
/PeaceOfMind.API/obj/Debug/netcoreapp2.2/PeaceOfMind.API.csprojAssemblyReference.cache
/PeaceOfMind.API/obj/Debug/netcoreapp2.2/PeaceOfMind.API.csproj.FileListAbsolute.txt
/PeaceOfMind.API/obj/Debug/netcoreapp2.2/PeaceOfMind.API.csproj.CoreCompileInputs.cache
/PeaceOfMind.API/obj/Debug/netcoreapp2.2/PeaceOfMind.API.csproj.CopyComplete
/PeaceOfMind.API/obj/Debug/netcoreapp2.2/PeaceOfMind.API.assets.cache
/PeaceOfMind.API/obj/Debug/netcoreapp2.2/PeaceOfMind.API.AssemblyInfoInputs.cache
/PeaceOfMind.API/obj/Debug/netcoreapp2.2/PeaceOfMind.API.AssemblyInfo.cs
/PeaceOfMind.API/obj/Debug/netcoreapp2.2
/PeaceOfMind.API/obj
/PeaceOfMind.API/bin/Debug/netcoreapp2.2/PeaceOfMind.Service.pdb
/PeaceOfMind.API/bin/Debug/netcoreapp2.2/PeaceOfMind.Service.dll
/PeaceOfMind.API/bin/Debug/netcoreapp2.2/PeaceOfMind.API.runtimeconfig.json
/PeaceOfMind.API/bin/Debug/netcoreapp2.2/PeaceOfMind.API.runtimeconfig.dev.json
/PeaceOfMind.API/bin/Debug/netcoreapp2.2/PeaceOfMind.API.pdb
/PeaceOfMind.API/bin/Debug/netcoreapp2.2/PeaceOfMind.API.dll
/PeaceOfMind.API/bin/Debug/netcoreapp2.2/PeaceOfMind.API.deps.json
/PeaceOfMind.API/bin/Debug/netcoreapp2.2/DataMovement.pdb
/PeaceOfMind.API/bin/Debug/netcoreapp2.2/DataMovement.dll
/PeaceOfMind.API/bin/Debug/netcoreapp2.2
/PeaceOfMind.API/.vs/PeaceOfMind.API/DesignTimeBuild/.dtbcache
/PeaceOfMind.API/.vs/PeaceOfMind.API/DesignTimeBuild
/PeaceOfMind.API
/DataTransferObjects/obj/project.assets.json
/DataTransferObjects/obj/Debug/netstandard2.0/DataTransferObjects.csproj.CoreCompileInputs.cache
/DataTransferObjects/obj/Debug/netstandard2.0/DataTransferObjects.assets.cache
/DataTransferObjects/obj/Debug/netstandard2.0/DataTransferObjects.AssemblyInfoInputs.cache
/DataTransferObjects/obj/Debug/netstandard2.0/DataTransferObjects.AssemblyInfo.cs
/DataTransferObjects/obj/Debug/netstandard2.0/DataMovement.pdb
/DataTransferObjects/obj/Debug/netstandard2.0/DataMovement.dll
/DataTransferObjects/obj/Debug/netstandard2.0/DataMovement.csprojAssemblyReference.cache
/DataTransferObjects/obj/Debug/netstandard2.0/DataMovement.csproj.FileListAbsolute.txt
/DataTransferObjects/obj/Debug/netstandard2.0/DataMovement.csproj.CoreCompileInputs.cache
/DataTransferObjects/obj/Debug/netstandard2.0/DataMovement.assets.cache
/DataTransferObjects/obj/Debug/netstandard2.0/DataMovement.AssemblyInfoInputs.cache
/DataTransferObjects/obj/Debug/netstandard2.0/DataMovement.AssemblyInfo.cs
/DataTransferObjects/obj/Debug/netstandard2.0
/DataTransferObjects/obj/DataTransferObjects.csproj.nuget.g.targets
/DataTransferObjects/obj/DataTransferObjects.csproj.nuget.g.props
/DataTransferObjects/obj/DataTransferObjects.csproj.nuget.dgspec.json
/DataTransferObjects/obj/DataTransferObjects.csproj.nuget.cache
/DataTransferObjects/obj/DataMovement.csproj.nuget.g.targets
/DataTransferObjects/obj/DataMovement.csproj.nuget.g.props
/DataTransferObjects/obj/DataMovement.csproj.nuget.dgspec.json
/DataTransferObjects/obj/DataMovement.csproj.nuget.cache
/DataTransferObjects/obj
/DataTransferObjects/bin/Debug/netstandard2.0/DataMovement.pdb
/DataTransferObjects/bin/Debug/netstandard2.0/DataMovement.dll
/DataTransferObjects/bin/Debug/netstandard2.0/DataMovement.deps.json
/DataTransferObjects/bin/Debug/netstandard2.0
/DataTransferObjects
/.vs/PeaceOfMind.API/v16/Server/sqlite3/storage.ide-wal
/.vs/PeaceOfMind.API/v16/Server/sqlite3/storage.ide-shm
/.vs/PeaceOfMind.API/v16/Server/sqlite3/storage.ide
/.vs/PeaceOfMind.API/v16/Server/sqlite3/db.lock
/.vs/PeaceOfMind.API/v16/Server/sqlite3
/.vs/PeaceOfMind.API/v16/.suo
/.vs/PeaceOfMind.API/v16
/.vs/PeaceOfMind.API/DesignTimeBuild/.dtbcache
/.vs/PeaceOfMind.API/DesignTimeBuild
/.vs/PeaceOfMind.API/config/applicationhost.config
/.vs/PeaceOfMind.API/config
/.vs/PeaceOfMind.API
